$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* MIXINS */
@mixin transition($time: 0.2s, $what: all, $how: ease) {
  transition: $what $time $how;
}

/* VARIABLES */
// colors
//$dark: #373B44;
$dark: darken(#556270, 18%);
$hl1: #FF310A;
$hl2: #C7F464;
$subtle: #475C5C;
$snow: #F4EBC3;

// fonts
$body: 'Lato', sans-serif;
$heading: 'Montserrat', sans-serif;


/* GENERAL STYLES */
html {
  overflow-x: hidden;
}

body {
  font-family: $body;
  background-color: $dark;
  color: white;
}

/* HEADER */
h1.logo {
  font-family: $heading;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1.2em;
  letter-spacing: 4px;
  padding: 0.8em 1.4em;
  //background-color: darken($subtle, 25%);
  border: 2px solid white;
  margin: 0.5em 1em;
  display: inline-block;
}

.header {
  background-color: darken($dark, 5%);
  color: white;
  padding-top: 1em;
}

.seed-title {
  font-family: $heading;
  text-transform: uppercase;
  color: lighten($dark, 35%);
}

.seed-img {
  width: 70px;
  height: 70px;
  -webkit-filter: saturate(10%);
  border-radius: 5px;

  &:hover {
    -webkit-filter: saturate(110%);
  }
}

.btn-add-seed {
  width: 70px;
  height: 70px;
  line-height: 0;
  margin: 0;
  padding: 0;
  font-size: 2.5em;
  color: lighten($dark, 15%);
  background-color: transparent;
  border: 2px solid lighten($dark, 15%);
  //transform: rotate(0deg);
  transition: all 0.3s ease-out;

  .x {
    transform: rotate(0deg);
    //@include transition();
  }

  &.open .x {
    transform: rotate(45deg);
    //@include transition();
  }

  &:hover, &.open, &:focus, &:active {
    color: white;
    background-color: transparent;
    border-color: white;
    outline: none;
  }
}

.seedlist .seedform { 
  margin-right: -350px;
  @include transition(0.2s);

  &.on {
    margin-right: 0;
    @include transition(0.2s);
  }

  input {
    background-color: darken($dark, 15%);
    border: none;
    padding: 0.4em;
    font-family: $body;
    border-radius: 5px;
    border: 1px solid darken($dark, 15%);
    width: 220px;

    &:focus {
      outline: none;
      border: 1px solid desaturate(darken($hl2, 40%), 5%);
    }
  }

  .btn.btn-primary {
    background-color: darken($dark, 15%);
    border: 1px solid transparent;
    border: none;

    &:hover {
      border: none;
      background-color: darken($dark, 10%);
      border: 1px solid desaturate(darken($hl2, 40%), 5%);
    }
  }
}

/* PLAYER */
.playlist-container {
  width: 100vw;
  @include transition(0.5s);
}

.track {
  width: 33.333333%;
  float: left;
  position: absolute;

  &.animate-hide {
    @include transition();

    &.ng-hide {
      opacity: 0;
      @include transition();
    }
  }
}

.track-inner {
  @include transition(1s);
  transform: perspective(100vw) translate3d(0, 0, 0);
  opacity: 0;

  img {
    border-radius: 5px;
    -webkit-filter: saturate(6%) blur(6px);
    @include transition();

    &:hover {
      -webkit-filter: saturate(100%) blur(0);
      cursor: pointer;
      @include transition();
    }
  }

  a {
    color: $hl2;

    &:hover {
      color: darken($hl2, 20%);
      text-decoration: none;
    }
  }

  &.current {
    //background-color: lighten($dark, 10%);
    //@include transition(0.6s);
    transform: perspective(100vw) rotateY(0deg) translate3d(33.333333vw, 0, 0);
    @include transition(0.3s);

    img {
      -webkit-filter: saturate(100%) blur(0);
    }
  }

  &.right, &.left, &.current {
    //transform-style: preserve-3d;
    opacity: 1.0;
  }

  &.left {
    transform: perspective(100vw) translate3d(0, 0, -20vw) rotateY(-45deg);
    @include transition(0.3s);
  }

  &.right {
    transform: perspective(100vw) translate3d(80vw, 0, -20vw) rotateY(15deg);
    @include transition(0.3s);
  }

  &.offleft {
    transform: perspective(100vw) translate3d(0vw, 0, -20vw) rotateY(-90deg);
    @include transition(0.3s);
  }

  &.offright {
    transform: perspective(100vw) translate3d(80vw, 0, -20vw) rotateY(90deg);
    @include transition(0.3s);
  }

  .track-info {
    p {
      margin: 0;
      padding: 0;
    }

    .title {
      font-family: $heading;
      text-transform: uppercase;
      font-size: 1.1em;
    }

    .artist {
      
    }
  }
}

/* CONTROLS */


.controls {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: darken($dark, 5%);
  padding-bottom: 1.5em;

  .progress-time {
    text-align: center;
  }

  .progress-area {
    position: absolute;
    top: -15px;
    width: 100%;
  }

  .progress-area:hover .track-progress {
    height: 10px;
  }

  .track-progress {
    width: 100%;
    appearance: none;
    -webkit-appearance: none;
    height: 2px;
    @include transition(0.1s);

    &:hover {
      height: 10px;
      @include transition(0.1s);
    }
  
    // the container
    &::-webkit-progress-bar {
      background-color: lighten($dark, 15%);
    }

    // the bar
    &::-webkit-progress-value {
      background-color: $hl2;
    }
  }

  .progress-time {
    display: block;
    font-size: 0.8em;
    color: #ccc;
  }
}

.controls-main {
  padding-top: 2em;

  .ctrl-btn {
    background: none;
    border: none;
    font-size: 1.5em;
    color: white;

    &[disabled] {
      opacity: 0.5;
    }
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
