$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* MIXINS */
@mixin transition($time: 0.2s, $what: all, $how: ease-in) {
  transition: $what $time $how;
}

/* VARIABLES */
// colors
//$dark: #373B44;
$dark: darken(#556270, 18%);
$hl1: #FF310A;
$hl2: #C7F464;
$subtle: #475C5C;
$snow: #F4EBC3;

// fonts
$body: 'Lato', sans-serif;
$heading: 'Montserrat', sans-serif;


/* GENERAL STYLES */
body {
  font-family: $body;
  background-color: $dark;
  color: white;
}

/* HEADER */
h1.logo {
  font-family: $heading;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1.2em;
  letter-spacing: 4px;
  padding: 0.8em 1.4em;
  //background-color: darken($subtle, 25%);
  border: 2px solid white;
  margin: 0.5em 1em;
  display: inline-block;
}

.header {
  background-color: $dark;
  color: white;
  padding-top: 1em;

  opacity: 0.35;
  @include transition();
  &:hover {
    opacity: 1;
    @include transition;
  }
}

.seed-title {
  font-family: $heading;
  text-transform: uppercase;
  color: lighten($dark, 35%);
}

.seed-img {
  width: 70px;
  height: 70px;
  -webkit-filter: saturate(10%);
  border-radius: 5px;

  &:hover {
    -webkit-filter: saturate(110%);
  }
}

.btn-add-seed {
  width: 70px;
  height: 70px;
  line-height: 0;
  margin: 0;
  padding: 0;
  font-size: 2.5em;
  color: lighten($dark, 15%);
  background-color: transparent;
  border: 2px solid lighten($dark, 15%);

  &:hover {
    color: white;
    background-color: transparent;
    border-color: white;
  }
}

/* PLAYER */
.track-inner {
  padding: 1.5em;
  border-radius: 5px;
  //@include transition(0.6s);

  img {
    border-radius: 5px;
    -webkit-filter: saturate(6%) blur(5px);
    @include transition();

    &:hover {
      -webkit-filter: saturate(100%) blur(0);
      @include transition();
    }
  }

  a {
    color: $hl2;

    &:hover {
      color: darken($hl2, 20%);
      text-decoration: none;
    }
  }

  &.current {
    //background-color: lighten($dark, 10%);
    //@include transition(0.6s);

    img {
      -webkit-filter: saturate(100%) blur(0);
    }
  }

  &.right, &.left {
    //transform-style: preserve-3d;
  }

  &.left {
    transform: perspective( 800px ) rotateY( -45deg ) scale(0.8);
  }

  &.right {
    transform: perspective( 800px ) rotateY( 45deg ) scale(0.8);
  }

  .track-info {
    p {
      margin: 0;
      padding: 0;
    }

    .title {
      font-family: $heading;
      text-transform: uppercase;
      font-size: 1.1em;
    }

    .artist {
      
    }
  }
}

/* CONTROLS */


.controls {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: $dark;

  .progress-time {
    text-align: center;
  }

  .track-progress {
    width: 100%;
    appearance: none;
    -webkit-appearance: none;
    height: 2px;
    @include transition(0.1s);

    &:hover {
      height: 10px;
      @include transition(0.1s);
    }
  
    // the container
    &::-webkit-progress-bar {
      background-color: lighten($dark, 15%);
    }

    // the bar
    &::-webkit-progress-value {
      background-color: $hl2;
    }
  }

  .progress-time {
    display: block;
    font-size: 0.8em;
    color: #ccc;
  }
}

.controls-main {
  padding: 1em;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
