<div class="container-fluid">
  <header class="header row">
    <div class="col-xs-3">
      <h1 class="logo">Robot Radio</h1>
    </div>
    <div class="col-xs-9 text-right">
      <ol class="list-inline seedlist">
        <li class="seed-title">Seeds:</li>
        <li ng-repeat="seed in originalSeeds">
          <a href="{{ seed.permalink_url }}" target="_blank" tooltip="{{ seed.username }}" tooltip-placement="bottom">
            <img src="{{ seed.avatar_url }}" class="seed-img">
          </a>
        </li>
        <li>
          <button class="btn btn-add-seed" ng-class="{ open: showSeedForm }" ng-click="showSeedForm = !showSeedForm">
            <span class="x">+</span>
          </button>
        </li>
        <li>
          <form ng-class="{ on: showSeedForm }" class="seedform form form-inline" ng-submit="addSeed(newSeedURL)">
            <input type="text" ng-model="newSeedURL" type="text">
            <button type="submit" class="btn btn-primary">Add</button>
          </form>
        </li>
      </ol>
    </div>
  </header>
  <form action="/auth/soundcloud" method="post" class="row">
      <div class="col-md-4">
          <input type="submit" value="SoundCloud Login"/>
      </div>
  </form>
  <section class="row">
    <div class="col-md-4">
      <span>Logged in user: {{loggedInUser.username}}</span>
    </div>
    <form class="col-md-4" ng-submit="addSeed(loggedInUser.permalink_url)">
      <span>Add your profile radio</span>
      <input type="submit" value="Add"/>
    </form>
  </section>
  <section class="playlist-container row" ng-show="originalSeeds.length">
    <!-- show empty placeholder if playlist is two tracks, to center the first track -->
    <div class="track animate-hide" ng-repeat="track in playlist" ng-hide="false">
      <div class="track-inner" ng-class="{
                                current: $index === i,
                                left: $index === i - 1,
                                right: $index === i + 1,
                                offright: $index > i+1,
                                offleft: $index < i-1 }">
        <img src="{{ getArtwork(track) }}" width="100%">
        <div class="track-info" ng-show="$index === i">
          <p class="title"><a href="{{ track.permalink_url }}" target="_blank"><strong>{{ track.title }}</strong></a></p>
          <p class="artist"><a href="{{ track.user.permalink_url }}" target="_blank">by {{ track.user.username }}</a></p>
        </div>
      </div>
    </div>
  </section>

  <section class="controls row" ng-show="originalSeeds.length">
  <player class="progress-area" current-track="playlist[i]" playing="playing" finished="next()"></player>
    <div class="col-md-2 col-md-offset-1 text-center download-link">
      <a href="{{ playlist[i].permalink_url }}/download" class="btn btn-link" ng-show="playlist[i].downloadable">Download Track</a>
    </div>
    <div class="col-md-6 text-center controls-main">
      <div class="btn-row">
        <button class="ctrl-btn btn-prev" ng-click="previous()" ng-disabled="i === 0"><i class="fa fa-backward"></i></button>
        <button class="ctrl-btn btn-pause-play" ng-click="playing = true" ng-hide="playing"><i class="fa fa-play"></i></button>
        <button class="ctrl-btn btn-pause-play" ng-click="playing = false" ng-hide="!playing"><i class="fa fa-pause"></i></button>
        <button class="ctrl-btn btn-next" ng-click="next()"><i class="fa fa-forward"></i></button>
        <button class="ctrl-btn" ng-click="likeCurrentTrack(handleLikeRes)">
          <span class="glyphicon glyphicon-heart" aria-hidden="true">Like</span>
        </button>

      </div>
    </div>
  </section>

  <div ng-hide="playlist.length" class="text-center">
    <h2>Add the URL of a soundcloud track or user as a seed above</h2>
  </div>
</div>


<p ng-hide="true"><a href ng-click="hood = !hood">under the hood</a></p>
<div ng-show="hood">
  <p><button ng-click="loadNewTracks()">Load New Tracks</button></p>
  <p><button ng-click="getAllFollowings(originalSeeds[0])">Get All Followers</button></p>

  <h3>PLAYLIST</h3>
  <ol>
    <li ng-repeat="track in playlist"><a href="{{ track.permalink_url }}" target="_blank">{{ track.title }} by {{ track.user.username }}</a> <span ng-show="$index === i">PLAYING</span></li>
  </ol>

  <h3>Unplayed Tracks</h3>
  <ol>
    <li ng-repeat="track in unplayed"><a href="{{ track.permalink_url }}" target="_blank">{{ track.title }} by {{ track.user.username }}</a></li>
  </ol>

  <h3>Played Tracks</h3>
  <ol>
    <li ng-repeat="track in played"><a href="{{ track.permalink_url }}" target="_blank">{{ track.title }} by {{ track.user.username }}</a></li>
  </ol>

  <h3>Seeds</h3>
  <ol>
    <li ng-repeat="seed in seeds"><a href="{{ seed.permalink_url }}" target="_blank">{{ seed.username }}</a></li>
  </ol>

  <h3>Original seeds</h3>
  <ol>
    <li ng-repeat="seed in originalSeeds"><a href="{{ seed.permalink_url }}" target="_blank">{{ seed.username }}</a></li>
  </ol>

  <h3>Used ('loaded') seeds</h3>
  <ol>
    <li ng-repeat="seed in loadedSeeds"><a href="{{ seed.permalink_url }}" target="_blank">{{ seed.username }}</a></li>
  </ol>
  </div>
